*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:active {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #353535;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Poppins', sans-serif;
  text-shadow: 5px 9px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.1;
}

.header {
  width: 100%;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  padding: 1.4rem;
  text-transform: uppercase;
}

.header a:link,
.header a:visited {
  color: #fff;
}

.header__logo {
  height: 6rem;
  width: 6rem;
  position: relative;
}

.header__logo span {
  position: absolute;
  top: 1rem;
  right: -7rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 2px;
}

.header__logo img {
  width: 5rem;
}

.header .nav {
  visibility: hidden;
  opacity: 0;
}

.header .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 3rem;
}

.header .hamburger-inner,
.header .hamburger-inner::before,
.header .hamburger-inner::after {
  background-color: #fff;
}

.header .nav-visible .hamburger-inner,
.header .nav-visible .hamburger-inner::before,
.header .nav-visible .hamburger-inner::after {
  background-color: #353535;
}

.intro {
  height: auto;
  padding: 12rem 3rem 10rem;
  background-image: linear-gradient(to bottom right, rgba(0, 160, 210, 0.8), rgba(115, 203, 230, 0.8)), url("../img/intro.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.intro__heading {
  text-shadow: none;
  position: relative;
}

.intro__heading::after {
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 14rem;
  height: 1.6rem;
  margin-bottom: 1rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-image: url(../img/wave-white.png);
}

.intro__heading small {
  display: block;
  font-weight: 300;
}

.intro__heading span {
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 1;
  padding: 4rem 0 2rem 0;
  display: block;
}

.intro__lead {
  line-height: 2;
}
