// Colors
$color-primary: #00A0D2;
$color-secondary: #ffe88c;

$color-primary-light: #73CBE6;

$color-black: #353535;
$color-white: #fff;

$color-dark-gray-1: #423737;
$color-dark-gray-2: #868686;

$border: 3px solid #f0f0f0;

// Size
$default-font-size: 1.4rem;

// Grid
$grid-width: 960px;