// Colors
$color-primary: #00A0D2;
$color-secondary: #ffe88c;

$color-black: #353535;
$color-white: #fff;

$color-dark-gray-1: #f4f4f4;
$color-dark-gray-2: #868686;

// Size
$default-font-size: 1.4rem;